doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery-2.1.0.js') 
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/knockout-3.1.0.js')
  body
    block content
